<!DOCTYPE html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Lista de Ventas</title>
</head>
<body>
  <h1>Ventas</h1>
  <table border="1">
    <thead>
      <tr>
        <th>Producto</th>
        <th>Cliente</th>
        <th>Cantidad</th>
        <th>Total</th>
        <th>Fecha de venta</th>
      </tr>
    </thead>
    <tbody>
      {% for venta in ventas %}
      <tr>
        <td>{{ venta.producto.nombre }}</td>
        <td>{{ venta.cliente.nombre }}</td>
        <td>{{ venta.cantidad }}</td>
        <td>{{ venta.total }}</td>
        <td>{{ venta.fecha_venta }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

  <br>
  <a href="{% url 'registrar_venta' %}">Registrar una Nueva Venta</a>
  <br><br>
  <a href="{% url 'inicio' %}">Volver al Inicio</a>
</body>
</html>